.logo img{
    margin-left: 20px;
    height: 60px;
    width: 80px;
    object-fit: contain;
    cursor: pointer;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(226, 231, 228,0.6);
}
.navbars{
    display: flex;
    align-items: center;
}
.navbar_list{
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
}
.navbar_list li{
    margin-right: 2rem;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
}
.link{
    color: #0f0f0f;
    text-decoration: none;
    transition: color 0.3s linear;
    display: inline-block;
}
.link:hover{
    color: rgb(137, 140, 140);
}
.login_btn{
    border-radius: 5px;
    padding: 8px 12px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s linear;
    transition: color 0.3s linear;
    background-color: #4193c2;
    border: 2px solid #4193c2;
}
.login_btn:hover{
    background-color: rgba(226, 231, 228,0.6);
    color: #0f0f0f;
}
.cart_logo{
    margin-right: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s linear;
    position: relative;
}
.cart_logo:hover{
    color:  rgb(137, 140, 140);
}
.cart_logo span{
    background-color:#4193c2;
    border-radius: 50%;
    color: #0f0f0f !important;
    display: grid;
    place-items: center;
    top:-20%;
    left: 70%;
    position: absolute;
    font-size: 0.7rem;
}
.mobile{
    display: none;
    margin-right: 15px;
    font-size: 1.4rem;
    color: #0f0f0f;
    transition: color 0.3s linear;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.mobile:hover{
    color: rgb(137, 140, 140);
}
.close-outline {
    display: none;
}

@media only screen and (max-width: 740px) {
    .link{
        font-size: 2rem;
    }
    .mobile{
        display: inline-block;
        z-index: 99;
    }
    .mobile-nav-icon {
        font-size: 1.4rem;
    }
    .active .mobile-nav-icon {
        display: none;
        font-size: 2rem;
        position: absolute;
        top: 20%;
        left: 50%;
        z-index: 99;
        transform: translate(50%, -50%);
      }
    .active .close-outline {
        display: inline-block;
    }
    .navbar_list{
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
        transition: all 0.3s linear;
        gap: 1.5rem;
      }
      .active .navbar_list{
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
        z-index: 9;
        transform-origin: right;
        transition: all 0.3s linear;
      }
      .cart-logo {
        position: relative;
        font-size: 5.2rem;
      }
      .cart-logo span {
          width: 4.2rem;
          height: 4.2rem;
          font-size: 2rem;
      }
      .active .logo{
        display: none;
      }
  }